
<h1> test</h1>

<ol >
  {{#each cars}}
  <li>
    <article >
      <div >
        <a href="/buy/{{id}}" target="blank">{{year}} {{color.color_name}} {{model}} {{make}} </a>
        <span>This {{year}} {{color.color_name}} {{model}} {{make}} has {{miles}} is listed at {{price}}</span>
      </div>
    </article>
  </li>
  {{/each}}
</ol>

<ol >
  
  <li>
    <article >
      <div >
        <a href="" target="blank">2017 Red Ford Focus </a>
        <span>This 2017 Red Ford Focus is available for $8000.</span>
      </div>
    </article>
  </li>

</ol>