<ol >
  {{#each dbCarData}}
  <li>
    <article >
      <div >
        <a href="/buy/{{dataValues.id}}" target="blank">{{dataValues.year}} {{dataValues.color.color_name}} {{dataValues.model}} {{dataValues.make}} </a>
        <span>This {{dataValues.year}} {{dataValues.color.color_name}} {{dataValues.model}} {{dataValues.make}} has {{dataValues.miles}} miles is listed at ${{dataValues.price}}</span>
      </div>
    </article>
  </li>
  {{/each}}
</ol>
