
  <div class="container mt-12">
    <div class ="row">

      {{#each dbCarData}}

       <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img" src="/images/{{dataValues.make}}.PNG" alt="Make Logo">
          <div class="card-body">
            <h4 class="card-title"><a href = "/mycars/{{dataValues.id}}">{{dataValues.year}} {{dataValues.make}} {{dataValues.model}}</a></h4>
            <h6 class="card-subtitle mb-2 text-muted">{{dataValues.tags}}</h6>
            <p class="card-text">
              {{dataValues.description}}</p>
            <div class="options d-flex flex-fill">
               <div class="form-control mr-1">{{dataValues.color}}</div>
               <div class="form-control mr-1">{{dataValues.miles}} miles</div>
              
            </div>
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price text-success"><h5 class="mt-4">${{dataValues.price}}</h5></div>
               
               <a href="mailto:{{dataValues.user.dataValues.email}}?subject=Your%20Carvana2.0%20Listing&body=Hello {{dataValues.user.dataValues.username}}," class="btn btn-danger mt-3">Contact Seller</a> 
            </div>
          </div>
        </div>
      </div>

      {{/each}}
      


    </div>
  </div>