
  <section id="add" class= "container">
    <div >
      <h1>Edit Listing</h1>
     
      <form action="/mycars/{{id}}" method="PUT">
          <div >
          <label for="make">Car Make</label>
          <input type="text" name="make" id="make" class="form-control" placeholder="Ford, Toyota, Tesla"
            maxlength="100" value={{make}}>
        </div>
         <div >
          <label for="model">Car Model</label>
          <input type="text" name="model" id="model" class="form-control" placeholder="Focus, Fusion, Camry"
            maxlength="100" value={{model}}>
        </div>
         <div >
          <label for="year">Car Year</label>
          <input type="text" name="year" id="year" class="form-control" placeholder="2021"
            maxlength="100" value={{year}}>
        </div>
         <div >
          <label for="miles">Car Miles</label>
          <input type="text" name="miles" id="miles" class="form-control" placeholder="65000"
            maxlength="100" value={{miles}}>
        </div>
         <div >
          <label for="price">Listing Price: $</label>
          <input type="text" name="price" id="price" class="form-control" placeholder="10000"
            maxlength="100" value={{price}}>
        </div>
         <div >
          <label for="color">Car Color</label>
          <input type="text" name="color" id="color" class="form-control" placeholder="Red, Blue"
            maxlength="100" value={{color}}>
        </div>
        <div>
          <label for="tags">Car Features</label>
          <input type="text" name="tags" id="tags" class="form-control" placeholder="Heated Seats, Backup Camera, Bluetooth"
          maxlength="100" value={{tags}}>
        </div>
         <div class = "mb-3">
          <label for="description">Car Description</label>
          <textarea name="description" id="description" class="form-control" placeholder="Describe the details of the car"
            rows="10">{{description}}</textarea>
        </div>
        
        <input type="submit" value="Update" id = "updateBtn">
        <input type="submit" value="Mark as Sold" id = "soldBtn">
        <input type="submit" value="Delete Listing" id = "deleteBtn">
      </form>
    </div>

    <script src= "/js/delete-car.js"></script>
  </section>