<ol class = "container">
 
  <li>
    <article >
      <div >
        <a href="/buy/{{id}}" target="blank">{{year}} {{color}} {{model}} {{make}} </a>
        <p>This {{year}} {{color}} {{model}} {{make}} has {{miles}} miles is listed at ${{price}}</p>
        <p>Features: {{tags}}</p>

        <p>Sold by: {{user.dataValues.username}}</p>
        <a href="mailto:{{user.dataValues.email}}">Contact Seller</a>
       
        </ul>
      </div>
    </article>
  </li>
 
</ol>